<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>POOL_IT_WEB</display-name>
  <welcome-file-list>
    <welcome-file>register.html</welcome-file>
  </welcome-file-list>

<servlet>
<description>register</description>
<display-name>register</display-name>
<servlet-name>register</servlet-name>
<servlet-class>com.poolit.controller.register</servlet-class>
</servlet>
<servlet-mapping>
<servlet-name>register</servlet-name>
<url-pattern>/register</url-pattern>
</servlet-mapping>

</web-app>